* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Grandstander', cursive;
}

html {
  font-size: 62.5%;
}

.stop-scrolling {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

body {
  width: 95%;
  margin: 10rem auto;
}

li {
  list-style: none;
}

.grid-container {
  display: grid;
  grid-template-columns: 0.5fr 2fr 0.5fr;
  grid-template-rows: minmax(0.2fr) 1fr;
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
}

.mainMonth {
  grid-area: 1 / 2 / 2 / 3;
  display: flex;
  justify-content: center;

  h1 {
    font-size: 15rem;
    margin: auto;
  }
}
.settings {
  grid-area: 1 / 1 / 2 / 2;
}
.categories {
  grid-area: 2 / 3 / 3 / 4;
}
.cards {
  grid-area: 2 / 2 / 3 / 3;
}
.monthNavigation {
  grid-area: 2 / 1 / 3 / 2;
}
