* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Grandstander', cursive;
}

html {
  font-size: 62.5%;
}

.stop-scrolling {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

body {
  width: 100vw;
}

// .main-container {
//   position: relative;
//   display: flex;
//   flex-direction: column;
//   align-items: center;
// }
