.card {
  width: 19.2%;
  height: 25rem;
  font-size: 2rem;
  background-color: palevioletred;
  margin: 0.5rem;

  &:hover {
    background-color: rgb(248, 130, 169);
  }
}

.current-day {
  background-color: blue;
}

.passed-day {
  background-color: rgb(155, 105, 122);
}
