.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  width: 70vw;
}

.calendar-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}
